#body {
	background-color: #03020a;
	font-family:Helvetica,sans-serif;
	color:#eeedfa;
}
#navbar{
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../images/covid.jpg") no-repeat center center/cover;
    color:white;
    padding:10px;
    padding-top: 5px;
	overflow: auto;
	margin-left: -20px;
	margin-right: -15px;
	padding-bottom: 0px;
}
.headcont{
	margin-top: 10px;
	margin-bottom: -10px;
}
.title{
	font-size: 24px;
	padding-left:10px;
	text-align: left;
	margin-bottom: 5px;
}
.start {
	margin-top: 0px;
	padding-left: 10px;
	text-align: left;
	font-style: italic;
}
#img{
	height: 60px;
	width: 60px;
	float: left;
	margin-left:20px;
	margin-right:10px;
}
#navbar button
{	
	margin-top: -10%;
	margin-left: 90%;
}
#container2 a{
	text-decoration: none;
	color:#eeedfa;
	display: inline;
	margin-top: -10px;
	margin-left: 5px;
	padding-right: 30px;
	
}
#container2 a:hover{
	color:lightblue;
}
.second{
	text-align: center;
	font-size: 24px;
	font-family: sans-serif;
	font-weight: bold;
}
.vid{
	padding: 20px;
	margin-top: 20px;
}
.vid iframe{
	border:azure 2px solid;
	height: 350px;
	padding:5px;
	border-radius: 5px;
}
.const{
	max-width: 100%;
}
#content{
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url("../images/corona.jpg") no-repeat center center/cover;
	margin-top: 20px;
	width: 1150px;
	padding: 15px;
	border:#EDF5E1 solid 3px;
	border-radius: 5px;
}
#content p{
	padding: 0px;
	font-family: sans-serif;
	line-height: 40px;
	font-size: 18px;
	color: white;
}
#content li{
	font-size: 16px;
	color:#eeedfa;
}
#content .secHeading{
	font-weight: bold;
}
#footing{
	margin-top: 50px;
	padding: 10px;
}
#footing p{
	text-align: center;
	color: azure;
}
