#body{
	font-family:sans-serif;
	background-color: #03020a;
	color:#eeedfa;
}
.title{
	font-size: 24px;
	padding-left:10px;
	text-align: left;
	margin-bottom: 5px;
	
}
.start {
	margin-top: 0px;
	padding-left: 10px;
	text-align: left;
	font-style: italic;
}
#img{
	height: 60px;
	width: 60px;
	float: left;
	margin-left:20px;
	margin-right:10px;
}
#navbar{
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../images/covid.jpg") no-repeat center center/cover;
    color:white;
    padding:10px;
    padding-top: 5px;
	overflow: auto;
	margin-right: -15px;
	margin-left: -20px;
	padding-bottom: 0px;
}
.headcont{
	margin-top: 10px;
	margin-bottom: -10px;
}
#navbar button{	
	margin-top: -10%;
	margin-left: 90%;
}
#navbar .tips{
	color: lightblue;
}
#container2 a{
	text-decoration: none;
	color:#eeedfa;
	display: inline;
	margin-top: -10px;
	margin-left: 5px;
	padding-right: 30px;
	font-weight: bold;
}
#container2 a:hover{
	color: lightblue;
}
.box{
	padding:20px;
	width: 400px;
	background-color: blue;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 40px;
	margin-top: 70px;
	border-radius: 5px;
	border: gray solid 2px;
}
.row p{
	font-size: 18px;
	line-height: 30px;
}
.row h3{
	margin-bottom: 20px;
	font-weight: bold;
}
.closing{
	text-align: center;
	font-size: 25px;
	margin-top:60px;
	margin-bottom: 50px;
	font-weight: bold;
}
.row img{
	height: 250px;
	width: 300px;
	margin-bottom: 20px;
}
.row button{
	display: block;
	text-align: center;
}
.row a{
	color: white;
}
.row a:hover{
	text-decoration: none;
}
.row button:hover{
	background: rgb(60, 60, 124);
	border-color: rgb(60, 60, 124);
}
.box1{
	margin-bottom: 40px;
}
#section1{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../images/stay.jpg") no-repeat center center/cover;

}
#section1 h3{
	margin-bottom: 30px;
}
#section2{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../images/wash.jpg") no-repeat center center/cover;

}
#section3{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../images/mask.jpg") no-repeat center center/cover;

}
#section4{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../images/cough.jpg") no-repeat center center/cover;

}
#section5{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../images/Distancing.jpg") no-repeat center center/cover;

}
#section6{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../images/groceries.jpg") no-repeat center center/cover;

}
#footing{
	margin-top: 50px;
	padding: 10px;
	
}
#footing p{
	text-align: center;
	color: whitesmoke;
}